body {
  margin: 0;
  padding: 0;
  background-color: #080c11;
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  font-family: 'lato', sans-serif;
}

@media (max-width: 767px) {
  body {
    background-size: auto;
    background-position: top;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img {
  width: 100%;
  height: auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
}

header {
  background: #080c11;
  padding: 10px 0;
}

@media (max-width: 1025px) {
  header {
    text-align: center;
  }
}

header .holder {
  border-top: 1px solid #a29061;
  border-bottom: 1px solid #a29061;
}

header .fab {
  color: #fff;
  font-size: 24px;
}

header a {
  font-size: 18px;
  text-transform: capitalize;
  color: #a29061;
  margin: 0 20px !important;
  display: block;
}

header a:last-child {
  margin: 0 0 0 20px !important;
}

header a:hover {
  color: #a29061;
}

header .hvr-underline-from-center:before {
  background: #a29061 !important;
}

#banner {
  background-image: url(../images/banner-bg.png);
  background-size: cover;
  height: 100%;
  padding: 180px 0;
}

@media (max-width: 767px) {
  #banner {
    padding: 75px 0;
  }
}

#banner h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 100px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  #banner h1 {
    font-size: 52px;
  }
}

#banner h1 span {
  font-size: 40px;
}

#banner p {
  font-size: 24px;
  width: 50%;
  margin: 0 auto 60px;
}

@media (max-width: 767px) {
  #banner p {
    font-size: 18px;
  }
}

#banner a {
  border: 1px solid #080c11;
  padding: 15px 20px;
  font-size: 24px;
  color: #080c11;
  text-transform: capitalize;
  display: inline-block;
  -webkit-transition: .8s;
  transition: .8s;
}

@media (max-width: 767px) {
  #banner a {
    font-size: 18px;
  }
}

#banner a:hover {
  background: #080c11;
  color: #fff;
}

main .heading {
  text-align: center;
}

main .heading h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
  color: #fff;
  padding: 0 0 20px;
  margin: 0 0 40px;
  background: url(../images/border-bottom.png) no-repeat 50% 100%;
}

main .heading .title {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
}

main .heading p {
  font-size: 16px;
  font-weight: 300;
  color: #a29061;
  margin: 40px 0;
}

main #our-portfolio {
  padding: 65px 0;
  text-align: center;
}

main #our-portfolio li {
  margin: 0 10px;
}

main #our-portfolio li a {
  font-size: 24px;
  font-weight: 300;
}

main #our-portfolio li a:hover {
  color: #a29061;
}

main #our-portfolio li a:active {
  color: #a29061 rgba(162, 144, 97, 0.2);
}

main #our-portfolio .overlay {
  position: relative;
  margin: 10px;
}

main #our-portfolio .overlay:hover .overlay-bg {
  opacity: 1;
}

main #our-portfolio .overlay-bg {
  background-color: rgba(162, 144, 97, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: .8s ease-out;
  transition: .8s ease-out;
}

main #our-portfolio .overlay-bg .detail {
  padding: 15px;
}

main #our-portfolio .overlay-bg .fa-heart {
  color: #080c11;
  font-size: 26px;
}

main #our-portfolio .overlay-bg span {
  display: block;
  font-family: 'Great Vibes', cursive;
  font-size: 36px;
  color: #080c11;
}

@media (max-width: 1025px) {
  main #our-portfolio .overlay-bg span {
    font-size: 30px;
  }
}

main #our-portfolio .overlay-bg p {
  font-size: 16px;
  color: #080c11;
  margin: 0;
  letter-spacing: -1px;
}

main #testimonial {
  padding: 65px 0;
}

main #testimonial p {
  width: 70%;
  margin: 40px auto 80px;
}

main #testimonial .carousel-indicators li {
  background: #fff;
}

main #testimonial .carousel-indicators .active {
  background-color: #a29061;
}

main #testimonial .fa-angle-left,
main #testimonial .fa-angle-right {
  color: #a29061;
  font-size: 36px;
}

main #video {
  max-height: 500px;
}

main #process {
  background-image: url(../images/process-bg.png);
  background-size: cover;
  background-position: center;
  padding: 65px 0;
  text-align: center;
}

main #process h1 {
  font-family: 'Great Vibes', cursive;
  color: #080c11;
  font-size: 60px;
  text-transform: capitalize;
  margin: 0 0 60px;
}

main #process ul {
  clear: both;
  overflow: hidden;
}

main #process li {
  border: 1px solid #080c11;
  height: 135px;
  width: 135px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin: 0 40px;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: .8s;
  transition: .8s;
}

@media (max-width: 1025px) {
  main #process li {
    margin: 0 30px 10px;
  }
}

@media (max-width: 767px) {
  main #process li {
    margin: 0 10px 20px;
  }
}

main #process li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main #process li:hover {
  background: #fff;
  color: #a29061;
  border-color: #fff;
}

main #process li .far,
main #process li .fas {
  display: block;
  font-size: 36px;
}

main #process p {
  margin: 60px 0 0;
}

main #packages {
  padding: 65px 0;
}

main #packages img {
  margin: 50px 0;
}

main #packages p {
  color: #a29061;
  font-size: 16px;
}

main #packages p a {
  text-decoration: underline;
}

main #packages .title-bar {
  padding: 65px 0;
  text-align: center;
  background-image: url(../images/title-bar.png);
  background-size: cover;
  background-position: center;
}

main #packages .title-bar span {
  font-size: 38px;
  font-weight: 200;
}

main #know-us .team {
  margin: 0 0 160px;
}

@media (max-width: 767px) {
  main #know-us .team {
    margin: 0;
  }
}

main #know-us .team p {
  font-family: 'lato', sans-serif;
  font-size: 16px;
  color: #a29061;
}

main #know-us .team-member .member {
  background: #3e3a2d;
  border: 1px solid #a29061;
  font-family: 'lato', sans-serif;
}

@media (max-width: 767px) {
  main #know-us .team-member .member {
    margin: 125px 0 0;
  }
}

main #know-us .team-member .member .avatar {
  margin: -83px auto 0;
  max-width: 140px;
}

main #know-us .team-member .member span {
  display: block;
  margin: 20px 0;
}

main #know-us .team-member .member .name {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

main #know-us .team-member .member .member-email {
  font-size: 24px;
  color: #fff;
}

main #know-us .team-member .member .member-contact {
  font-size: 30px;
  color: #a29061;
}

main #know-us .team-member .member li {
  display: inline-block;
  font-size: 24px;
  margin: 0 10px 0 0;
}

main #know-us .team-member .member li:last-child {
  margin: 0;
}

main #know-us .team-member .member li a {
  color: #a29061;
}

main #contact-us {
  background-image: url(../images/contact-us-bg.png);
  background-position: center;
  background-size: cover;
}

main #contact-us .overlay {
  padding: 65px 0;
}

main #contact-us .heading h3 {
  font-size: 24px;
  color: #fff;
}

main #contact-us .heading .contact-detail {
  margin: 40px 0 0;
}

main #contact-us .heading span {
  font-size: 16px;
  display: block;
  color: #a29061;
}

main #contact-us .heading a {
  color: #a29061;
}

main #contact-us form {
  margin: 50px 0 0;
  text-align: center;
}

main #contact-us form input {
  margin: 0 0 30px;
  background: transparent;
  border: 2px solid #a29061;
  border-radius: 0;
  color: #a29061;
}

main #contact-us form input::-webkit-input-placeholder {
  color: #a29061;
}

main #contact-us form input:-ms-input-placeholder {
  color: #a29061;
}

main #contact-us form input::-ms-input-placeholder {
  color: #a29061;
}

main #contact-us form input::placeholder {
  color: #a29061;
}

main #contact-us form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main #contact-us form textarea {
  background: transparent;
  border: 2px solid #a29061;
  border-radius: 0;
  margin: 0 0 30px;
  color: #a29061;
}

main #contact-us form textarea::-webkit-input-placeholder {
  color: #a29061;
}

main #contact-us form textarea:-ms-input-placeholder {
  color: #a29061;
}

main #contact-us form textarea::-ms-input-placeholder {
  color: #a29061;
}

main #contact-us form textarea::placeholder {
  color: #a29061;
}

main #contact-us form textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main #contact-us form button {
  background: #a29061;
  color: #000;
  padding: 14px 90px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 15px;
}

footer {
  padding: 65px 0;
}

footer .footer-logo {
  margin: 0 0 25px;
}

footer .social-icon {
  margin: 0 0 15px;
}

footer .social-icon li {
  display: inline-block;
  font-size: 28px;
  margin: 0 10px 0 0;
}

footer .social-icon li:last-child {
  margin: 0;
}

footer .fab {
  color: #a29061;
}

footer .footer-nav {
  text-transform: capitalize;
  font-size: 18px;
  font-family: 'lato', sans-serif;
}

footer .footer-nav a {
  display: inline-block;
}

footer .footer-nav a:hover {
  color: #a29061;
}

footer .author {
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

footer .author li {
  margin: 20px 0;
}

footer .author li:last-child {
  margin: 0;
}

footer .author .copyright {
  color: #fff;
}

footer .author .designby {
  color: #a29061;
}
/*# sourceMappingURL=style.css.map */